:root {
    --font-mono: Menlo, Monaco, Consolas, monospace;
    --ratio: 1.4;
    --base-size: 1rem;
    --s-2: calc(var(--base-size) * pow(var(--ratio), -2));
    --s-1: calc(var(--base-size) * pow(var(--ratio), -1));
    --s1:  calc(var(--base-size) * pow(var(--ratio), 1));
    --s2:  calc(var(--base-size) * pow(var(--ratio), 2));
    --s3:  calc(var(--base-size) * pow(var(--ratio), 3));

    /* macOS, iOS */
    /* Chrome on macOS */
    /* Windows */
    /* Android, Chrome OS */
    /* fallback */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: calc(.333vw + 1em);
    line-height: var(--ratio);
}

body {
  max-width: 80ch;
  padding: 2em;
  margin: auto;
}

h1,h2,h3,h4,h5,h6 {
  line-height: calc(var(--ratio) * pow(var(--ratio), -1));
  hyphens: auto;
}

h1 { font-size: var(--s3); }
h2 { font-size: var(--s2); }
h3 { font-size: var(--s1); }
pre { font-size: var(--s-1); font-family: var(--font-mono); }
small { font-size: var(--s-2); }

ul { padding-left: 1em; }
ol { padding-left: 1.2em; }
li { margin-block: 0.25em; }
a { text-decoration: none; color: oklch(0.6 0.4 264); }
a:visited { color: oklch(0.3 0.2 264); }

.highlight pre {
  border-left: 1px solid palegoldenrod;
  padding-inline-start: 1em;
}

.pl-c {color: darkgray;}
.pl-c1, .pl-s .pl-v {color: deepskyblue;}
.pl-e, .pl-en {color: mediumslateblue;}
.pl-s .pl-s1, .pl-smi {color: gray;}
.pl-ent  {color: mediumseagreen;}
.pl-k {color: coral;}
.pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {color: deepskyblue;}
.pl-v {color: salmon;}
.pl-id {color: coral;}
.pl-ii {background-color: coral; color: black;}
.pl-sr .pl-cce {color: mediumseagreen; font-weight: bold;}
.pl-ml {color: goldenrod;}
.pl-mh, .pl-mh .pl-en, .pl-ms {color: deepskyblue; font-weight: bold;}
.pl-mq {color: deepskyblue;}
.pl-mi {color: gray; font-style: italic;}
.pl-mb {color: gray; font-weight: bold;}
.pl-md {background-color: mistyrose; color: coral;}
.pl-mi1 {background-color: honeydew; color: mediumseagreen;}
.pl-mdr {color: mediumslateblue; font-weight: bold;}
.pl-mo {color: deepskyblue;}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: snow;
  }

  a { color: oklch(0.87 0.21 233); }
  a:visited { color: oklch(0.5 0.21 233) }
}
