* { line-height: 1.6em; }

html { font-size: 17px; }

body {
  max-width: 80ch;
  padding: 2em;
  margin: auto;
  font-family: sans-serif;
  @media (min-width: 850px) {
    font-size: 1.15rem; /* desktop readability */
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: serif;
  line-height: initial; /* stay with 1.6 at large viewports */
  margin-block-end: 1rem; /* associate with text below */
}

ul { padding-left: 1em; }
ol { padding-left: 1.2em; }
li { margin-block: 0.25em; }
a { text-decoration: none; }
a, a:visited { color: #00d; }

.highlight pre {
  border-left: 1px solid palegoldenrod;
  padding-inline-start: 1em;
}

.pl-c {color: darkgray;}
.pl-c1, .pl-s .pl-v {color: deepskyblue;}
.pl-e, .pl-en {color: mediumslateblue;}
.pl-s .pl-s1, .pl-smi {color: gray;}
.pl-ent  {color: mediumseagreen;}
.pl-k {color: coral;}
.pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {color: deepskyblue;}
.pl-v {color: salmon;}
.pl-id {color: coral;}
.pl-ii {background-color: coral; color: black;}
.pl-sr .pl-cce {color: mediumseagreen; font-weight: bold;}
.pl-ml {color: goldenrod;}
.pl-mh, .pl-mh .pl-en, .pl-ms {color: deepskyblue; font-weight: bold;}
.pl-mq {color: deepskyblue;}
.pl-mi {color: gray; font-style: italic;}
.pl-mb {color: gray; font-weight: bold;}
.pl-md {background-color: mistyrose; color: coral;}
.pl-mi1 {background-color: honeydew; color: mediumseagreen;}
.pl-mdr {color: mediumslateblue; font-weight: bold;}
.pl-mo {color: deepskyblue;}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: snow;
  }

  a, a:visited { color: #0df; }
}
